nav {
    margin-left: 25%;
    margin-right: 25%;
    background-color: blueviolet;
    border-radius: 10px;
}



nav>ul {
    display: flex;


}

nav li {
    list-style: none;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav li:hover {
    background-color: whitesmoke;

}

nav>ul>li>ul {
    display: none;
    position: absolute;
    background-color: blueviolet;
    padding: 9px;
    margin-left: -5px;



}

nav>ul>li:hover>ul {
    display: block;
    border-radius: 0 0 10px 10px;

}

nav>ul>li>ul>li:hover {
    padding: 0, 15px, 0, 15px;
    margin: 0;
    background-color: blueviolet;
}

nav>ul>li>ul>li:hover a {
    color: white;

}